@use '_variables' as vars;


// ---------------
// Global HTML Tags
// ---------------

h1 {
  font-family: BricolageGrotesque;
  font-size: 3.5em;
  color: vars.$black;
  font-weight: bold;
  line-height: 110%;
}

h2 {
  font-family: BricolageGrotesque;
  font-size: 3em;
  color: vars.$black;
  font-weight: bold;
  line-height: 110%;
}

h3 {
  
}

p {
  font-family: Satoshi;
  font-size: 1.1em;
  color: vars.$text;
}

nav {
  border-bottom: 1px solid vars.$border-stroke;
  a {
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 20px 40px;
    border: 1px solid vars.$border-stroke;
    color: rgb(56, 55, 55, 0.6);
  }
  :hover {
    background-color: #f8f8f8;
  }
}

// ---------------
// Container
// ---------------

.container {
  border-left: 1px solid vars.$border-stroke;
  border-right: 1px solid vars.$border-stroke;
  width: 50%;
  padding: 0px 100px;
  margin: 0 auto;
}

.content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .head {
    margin-bottom: 30px;
    h1, h2 {text-align: center; margin-bottom: 10px;}
    p {text-align: center;}
  }
}

// ---------------
// Buttons
// ---------------

.black-button {
  font-size: 0.9em;
  font-weight: 500;
  color: vars.$white;
  padding: 10px 23px;
  border-radius: vars.$rounded;
  background: linear-gradient(#262626, #050505);
  border: 1px solid linear-gradient(#313131, #060606);
  box-shadow: inset 0 5px 1px 1px rgba(255, 255, 255, 1);
  box-shadow: inset 0 -3px 5px #000000;
}

.white-button {
  font-size: 0.9em;
  font-weight: 500;
  color: vars.$black;
  padding: 10px 23px;
  border-radius: vars.$rounded;
  background-color: vars.$white;
  border: 1px solid vars.$border-stroke;
  transition: 200ms ease;

  &:hover {
    background-color: #f7f7f7;
  }
}

// ---------------
// Forms
// ---------------

form {
  input, textarea {
    margin: 5px;
    background-color: vars.$grey;
    padding: 10px 20px;
    border-radius: vars.$rounded;
    border: 1px solid vars.$border-stroke;

    &:focus {
      outline: none;
      border-color: #727272;
    }
  }
}