@use '_variables' as vars;


// ---------------
// Global HTML Tags
// ---------------

html {
  overflow-x: hidden;
}

body {
  cursor: url('/home/theo/Documents/iut-lannion/mainfolio/src/assets/icons/cursor.svg'), auto;
}

h1 {
  font-family: BricolageGrotesque;
  font-size: 3.5em;
  color: vars.$black;
  font-weight: bold;
  line-height: 110%;
}

h2 {
  font-family: BricolageGrotesque;
  font-size: 3em;
  color: vars.$black;
  font-weight: bold;
  line-height: 110%;
}

p {
  font-family: 'Satoshi', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: vars.$text;
}

nav {
  border-bottom: 1px solid vars.$border-stroke;
  a {
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 20px 40px;
    border: 1px solid vars.$border-stroke;
    color: rgb(56, 55, 55, 0.6);
  }
  :hover {
    background-color: #f8f8f8;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

// ---------------
// Container
// ---------------

.container {
  border-left: 1px solid vars.$border-stroke;
  border-right: 1px solid vars.$border-stroke;
  width: 60%;
  padding: 0px 100px;
  margin: 0 auto;
}

.content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .head {
    margin-bottom: 30px;
    h1, h2 {
      text-align: center; 
      margin-bottom: 10px; 
      text-transform: capitalize !important;
    }
    p {text-align: center;}*
    .sparkles span {
      font-family: 'Tartuffo';
      font-style: italic;
      background: vars.$gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// ---------------
// Buttons
// ---------------

.black-button, .form-button, .shimmer-black-button {
  font-size: 0.9em;
  font-weight: 500;
  color: vars.$white;
  padding: 10px 23px;
  border-radius: vars.$rounded;
  background: linear-gradient(#262626, #050505);
  border: 1px solid linear-gradient(#313131, #060606);
  box-shadow: inset 0 5px 1px 1px rgba(255, 255, 255, 1);
  box-shadow: inset 0 -3px 5px #000000;
  &:hover {
    cursor: pointer;
  }
}

.white-button {
  font-size: 0.9em;
  font-weight: 500;
  color: vars.$black;
  padding: 10px 23px;
  border-radius: vars.$rounded;
  background-color: vars.$white;
  border: 1px solid vars.$border-stroke;
  transition: 200ms ease;

  &:hover {
    background-color: #f7f7f7;
  }
}

// ---------------
// Forms
// ---------------

form {
  input, textarea {
    margin: 5px;
    background-color: vars.$grey;
    padding: 10px 20px;
    border-radius: vars.$rounded;
    border: 1px solid vars.$border-stroke;

    &:focus {
      outline: none;
      border-color: #727272;
    }
  }
}

// ---------------
// Projects
// ---------------

.projects-list ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.project-card {

  .thumbnail {
    width: 424px;
    height: 300px;
    object-fit: cover;
    border-radius: vars.$rounded;
    border: 1px solid vars.$border-stroke;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
}

.tags {
  display: flex;
  gap: 8px;
}
.tag {
  border: 1px solid vars.$border-stroke;
  padding: 4px 10px;
  border-radius: 100px;
}

.content-project {
  gap: 20px;
  
  .back {
    width: 100%;
    border-bottom: 1px solid vars.$border-stroke;
    margin-bottom: 20px;

    a {
      font-size: 1.5em;
      color: vars.$black;
      font-weight: 700;
    }

  }

  img {
    width: 100%;
    border-radius: vars.$rounded;
    border: 1px solid vars.$border-stroke;
    margin-bottom: 10px;
  }

  .markdown {

    h2 {
      font-family: 'Satoshi', sans-serif ;
      font-size: 2em;
      padding-bottom: 10px;
      border-bottom: 1px solid vars.$border-stroke;
      margin-bottom: 15px;
    }
    
  }

  .head {
    margin-bottom: 30px;
    h1, h2 {text-align: center; margin-bottom: 10px;}
    p {text-align: center;}
  }
}