// ---------------
// COLORS
// ---------------

$black : #202020;
$light-black: #333333;
$border-stroke: #E8E8E8;
$text: #656565;
$white: #FFFFFF;
$grey: #fdfdfd;
$rounded: 11px;
$gradient: linear-gradient(90deg, #C8179B 0%, #E32E45 50%, #C8179B 100%);

// ---------------
// FONTS
// ---------------

$bricolage: 'BricolageGrotesque', sans-serif;
$satoshi: 'Satoshi', sans-serif;
$instrument: 'InstrumentSerif';


/* Bricolage Grotesque */
@font-face {
    font-family: 'BricolageGrotesque';
    src: url('../assets/fonts/bricolage/BricolageGrotesque-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* Satoshi  */
@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* Instrument Serif */
@font-face {
    font-family: 'InstrumentSerif';
    src: url('../assets/fonts/instrument_serif/InstrumentSerif-Italic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}