@use "_tailwind";
@use "_variables" as vars;
@use "_globals";
@use "_responsive";

// ---------------
// Home Page
// ---------------

// ----Hero Section ----

.head {
  img {
    border-radius: vars.$rounded;
    width: 100px;
    height: 100px;
  }
}

.full-width-marquee {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.map {
  border: 1px solid vars.$border-stroke;
  border-radius: vars.$rounded;
}


.slider-container {
  padding: 20px 0;
  background-color: vars.$white;
  overflow: hidden;
  width: 100%;
  position: relative;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
}

.slider-track {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.slider-card {
  flex: 0 0 auto;
  background-color: #FCFCFC;
  border: 1px solid vars.$border-stroke;
  border-radius: vars.$rounded;
  padding: 20px;
  
  &:hover {
    background-color: #F3F3F4;
  }

  img {
    border-radius: vars.$rounded;
    max-width: 330px;
    height: auto;
  }
}

// Available Indicator
.available {
  display: flex;
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  padding: 4px 15px;

  span {
    font-family: vars.$satoshi;
    font-size: 0.9em;
    font-weight: 600; 
  }

}

.available-day {
  background: linear-gradient(to top, rgba(34, 182, 5, 0.05), rgba(34, 182, 5, 0));
  border: 1px solid #22B605;
}
.available-night {
  background: linear-gradient(to top, rgb(255, 0, 0, 0.05), rgb(255, 0, 0, 0));
  border: 1px solid #FF0000;
}

.dot {
  margin-left: -5px;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s infinite;
  }
}

.dot-day {
  background-color: #22B605;
  &::after {background-color: rgba(34, 182, 5, 0.5);}
}

.dot-night {
  background-color: #FF0000;
  &::after {background-color: rgba(255, 0, 0, 0.5);}
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}


// ---- AboutMe Section ----
.picture-card, .map-card {
  padding: 20px;
  background-color: vars.$white;
  height: fit-content;
  width: 250px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
 
  img {
    width: 100%;
  }

  p {
    font-family: vars.$instrument;
    color: vars.$text;
  }

}

.picture-card {transform: rotate(-3deg);}
.map-card {transform: rotate(3deg);}

// ---- Formations & Experiences Section ----
.forma {
  width: 70%;
  margin: 0 auto;

  .left {
    min-width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 45px;
      height: 45px;
      border-radius: vars.$rounded;
      border: 1px solid vars.$border-stroke;
      object-fit: cover;
    }
  }
  

  .line {
    width: 1px;
    height: 100%;
    background-color: vars.$border-stroke;
  }

  .right {
    .name {
      font-weight: 500;
      font-size: 1.2em;
      color: vars.$black;
    }

    .year {
      font-style: italic;
    }
  }
}

.text-container {
  position: relative;
}

.text.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more-btn {
  border: none;
  color: var(--text);
  text-decoration: underline;
  cursor: pointer;
  background: none;
  padding: 0;
  margin-top: 8px;
}

// ---- Tools Section ----
.tool-container {

  h3 {
    font-family: 'BricolageGrotesque', sans-serif;
    font-size: 2.2em;
    color: vars.$black;
    margin-bottom: 15px;
    border-bottom: 1px solid vars.$border-stroke;
  }

  img {
    margin-bottom: 10px;
    width: 50px;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
  }

  // Tools list
  .uiux .list, .devweb .list, .gdp .list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .flex-col {
    position: relative;
    width: 50px;
    text-align: center;

    &::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 120%;
      left: 50%;
      transform: translate(-50%, 10px) scale(0.8);
      background-color: vars.$white;
      color: vars.$black;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid vars.$border-stroke;
      white-space: nowrap;
      box-shadow: 0 8px 8px 0px rgba(27, 33, 44, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, transform 0.3s;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0) scale(1);
    }
  }
}

// ---- Skills Section ----
.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

// .skill-card {
//   border-radius: vars.$rounded;
//   border: 1px solid vars.$border-stroke;
//   padding: 20px;
// }

.skill-top {
  padding-bottom: 10px;
  border-bottom: 1px solid vars.$border-stroke;
  display: flex;
  align-items: center;
  gap: 10px;

  h3 {
    font-size: 1.3em;
    color: vars.$black;
  }

  img {
    width: 25px;
    height: 100%;
  }

}

.skill-desc ul {
  margin-left: 20px;
  padding-top: 10px;

  li {
    list-style: disc;
    color: vars.$text;
  }
}

// ---------------
// Contact Page
// ---------------
.rezo img {
  width: 25px;
  height: auto;
  border-radius: 0;
  filter: brightness(0) saturate(100%) invert(0%) sepia(36%) saturate(89%) hue-rotate(78deg) brightness(119%) contrast(75%);
}

// ---------------
// 404 Page
// ---------------
.page-404 {
  height: 65vh;
  h1 {
    font-size: 11em;
  }
}