---
// Assets
import { Image } from "astro:assets";
import Button from "../Button.astro";
import ProfilePicture from "@/assets/images/profile-picture.png";
import downloadIcon from "@/assets/icons/dl-icon.svg"
---

<div class="head">
    <h2>A propos de moi</h2>
    <p>Pour en savoir un peu plus qui je suis 👀</p>
  </div>
  
  <div class="flex me-col align-center gap-5">

    <div class="mr-12">
      <div class="picture-card">
        <Image src={ProfilePicture} alt="Photo de Théo Legourrierec" />
        <p class="text-center mt-4">Une photo de moi</p>
      </div>
    </div>

    <div class="flex flex-col gap-5 items-start">
      <p>Salut, moi c'est Théo, j’ai 20 ans<br><br>

      Je suis actuellement en troisième et dernière année du BUT Métiers du multimédia et de l'internet (MMI) à Lannion avec une spécialité Développement Web et Dispositifs Interactifs.<br><br>
      
      Depuis ma deuxième année, j'ai eu l'opportunité d'intégrer l'agence e-declic en tant qu'alternant en développement web. 
      Cette agence a pour objectif de créer des sites web à forte visibilité.<br><br>
      
      Polyvalent, motivé et passionné sont les trois mots qui me représente.<br><br>
      
      Aujourd'hui, mon objectif est de devenir Designer UI/UX & Intégrateur Web pour créer des sites internet attrayants et performants.</p>
    
      <Button theme="black-button" target="_blank" link="/CV_THEOLEGOURRIEREC.pdf" text="Télécharger mon CV" icon={downloadIcon.src} />
    </div>

  </div>