---
// Assets
import { Image } from "astro:assets";
import { MagicCard } from "@/components/ui/magic-card";
import devIcon from "@/assets/icons/dev.svg";
import seoIcon from "@/assets/icons/seo.svg";
import uiIcon from "@/assets/icons/ui.svg";
import uxIcon from "@/assets/icons/ux.svg";
---

<div class="head">
    <h2>Mes compétences</h2>
    <p>Ce que je suis capable de faire</p>
</div>

<div class="skill-container">

    <!-- Développement web -->
    <MagicCard client:visible className="skill-card" gradientColor={"#D9D9D955"}>
        <div class="skill-top">
            <Image src={devIcon} alt="Icône de téléchargement" />
            <h3>Développement web</h3>
        </div>
        <div class="skill-desc">
            <ul>
                <li>Création de site web sous WordPress</li>
                <li>Développement d'applications web avec React</li>
                <li>Intégration d'API</li>
                <li>Optimisation des performances web</li>
            </ul>
        </div>
    </MagicCard>

    <!-- Référencement -->
    <MagicCard client:visible className="skill-card" gradientColor={"#D9D9D955"}>
        <div class="skill-top">
            <Image src={seoIcon} alt="Icône de téléchargement" />
            <h3>Référencement</h3>
        </div>
        <div class="skill-desc">
            <ul>
                <li>Analyse de traffic et du comportement des visiteurs</li>
                <li>Satistiques sur les visiteurs</li>
                <li>Optimisation des balises HTML et structuration sémantique</li>
                <li>Rédaction de contenus optimisés</li>
            </ul>
        </div>
    </MagicCard>

    <!-- Design UI -->
    <MagicCard client:visible className="skill-card" gradientColor={"#D9D9D955"}>
        <div class="skill-top">
            <Image src={uiIcon} alt="Icône de téléchargement" />
            <h3>Design UI</h3>
        </div>
        <div class="skill-desc">
            <ul>
                <li>Conception de maquettes et prototypes interactifs</li>
                <li>Création d’interfaces web responsives et accessibles</li>
                <li>Design sur-mesure et simple à intégrer</li>
                <li>Respect des tendances du moment</li>
            </ul>
        </div>
    </MagicCard>

    <!-- Design UX -->
    <MagicCard client:visible className="skill-card" gradientColor={"#D9D9D955"}>
        <div class="skill-top">
            <Image src={uxIcon} alt="Icône de téléchargement" />
            <h3>Design UX</h3>
        </div>
        <div class="skill-desc">
            <ul>
                <li>Réalisation de wireframes</li>
                <li>Analyse et compréhension des besoins utilisateurs</li>
                <li>Optimisation du parcours utilisateur</li>
                <li>Accessibilité et ergonomie des interfaces</li>
            </ul>
        </div>
    </MagicCard>
</div>