---
// Components
import Button from "../Button.astro";

// Assets
import { Image } from "astro:assets";
import ProfilePicture from "@/assets/images/profile-picture.png";
import extIcon from "@/assets/icons/arrow-ext.svg"
import edeclicLogo from "@/assets/logo/edeclic.png";
---

<script>
    import { initExpandText } from '../scripts/expandText.js';
    document.addEventListener('DOMContentLoaded', initExpandText);
</script>

<div class="head">
    <h2>Expériences</h2>
    <p>Ou j'ai pu appliquer mes compétences</p>
</div>
  
<div class="flex flex-col align-center gap-5 mb-12">

    <!-- Alternance - edeclic -->
    <!-- BAC STI2D -->
    <div class="forma flex gap-5">
        <div class="left flex flex-col items-center">
            <Image src={edeclicLogo} alt="Photo de Théo Legourrierec" />
            <div class="line mt-4"></div>
        </div>
        <div class="right">
            <p class="name">Alternant Développeur Web chez e-declic</p>
            <p class="year">Auray - 2023 à 2025</p>
            <div class="text-container">
                <p class="text mt-4 truncated">EXPLICATION</p>
                <button class="read-more-btn">Lire plus</button>
            </div>
            <Button id="edeclic" target="_blank" theme="black-button" link="https://mmi.iut-lannion.fr/" text="Découvrir l'agence" icon={extIcon.src} />
        </div>
    </div>

    <!-- BAC STI2D -->

</div>