---
// Components
import Button from "../Button.astro";

// Assets
import { Image } from "astro:assets";
import ProfilePicture from "@/assets/images/profile-picture.png";
import downloadIcon from "@/assets/icons/dl-icon.svg"
import mmiLogo from "@/assets/logo/logo-mmi.png";
---

<script>
    import { initExpandText } from '../scripts/expandText.js';
    document.addEventListener('DOMContentLoaded', initExpandText);
</script>

<div class="head">
    <h2>Formations</h2>
    <p>Tout mon parcours jusqu'à aujourd'hui</p>
</div>
  
<div class="flex flex-col align-center gap-5 mb-12">

    <!-- BUT MMI -->
    <div class="forma flex gap-5">
        <div class="left flex flex-col items-center">
            <Image src={mmiLogo} alt="Photo de Théo Legourrierec" />
            <div class="line mt-4"></div>
        </div>
        <div class="right">
            <p class="name">BUT MMI</p>
            <p class="year">Lannion - 2022 à 2025</p>
            <div class="text-container">
                <p class="text mt-4 truncated">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!</p>
                <button class="read-more-btn">Lire plus</button>
            </div>
        </div>
    </div>

    <!-- BAC STI2D -->
    <div class="forma flex gap-5">
        <div class="left flex flex-col items-center">
            <Image src={mmiLogo} alt="Photo de Théo Legourrierec" />
            <div class="line mt-4"></div>
        </div>
        <div class="right">
            <p class="name">BAC STI2D</p>
            <p class="year">Lannion - 2022 à 2025</p>
            <div class="text-container">
                <p class="text mt-4 truncated">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore magni sequi dolores, tempora totam illum deserunt veritatis quisquam sit officiis earum unde voluptates at voluptate nemo exercitationem facere asperiores!</p>
                <button class="read-more-btn">Lire plus</button>
            </div>
        </div>
    </div>

</div>