---
// Components
import Button from "../Button.astro";

// Assets
import { Image } from "astro:assets";
import extIcon from "@/assets/icons/arrow-ext.svg";
import mmiLogo from "@/assets/logo/logo-mmi.png";
import stiLogo from "@/assets/logo/logo-sti.png";
---

<script>
  import { initExpandText } from "../scripts/expandText.js";
  document.addEventListener("DOMContentLoaded", initExpandText);
</script>

<div class="head">
  <h2>Formations</h2>
  <p>Tout mon parcours jusqu'à aujourd'hui</p>
</div>

<div class="flex flex-col align-center gap-12 mb-12">
  <div class="forma flex flex-col md:flex-row gap-0 md:gap-5">
    <div class="left flex flex-col items-center">
      <Image
        src={mmiLogo}
        alt="Logo BUT MMI Lannion"
        loading="lazy"
        format="webp"
        quality={90}
        width={80}
        height={80}
      />
      <div class="line mt-4"></div>
    </div>
    <div class="right">
      <p class="name">
        <strong>BACHELOR UNIVERSITAIRE DE TECHNOLOGIE</strong><br />Métiers du
        Multimédia et de l’Internet (MMI)
      </p>
      <p class="year">Lannion - 2022 à 2025</p>
      <div class="text-container">
        <p class="text mt-4 truncated">
          En terminal, je découvre le domaine du Webdesign. Je découvre puis
          m'inscris dans le BUT MMI pour sa polyvalence vers de nombreux
          domaines tous intéressants : audiovisuel, gestion de projet, design,
          marketing, développement web...<br /><br />
          Durant cette première année, j'apprends énormément de choses mais une spécialité
          m'intéresse plus que les autres : le développement web. Je redécouvre les
          bases HTML et CSS et j'approfondis JavaScript en passant par PHP et MySQL.<br
          /><br />
          Ce domaine m'intéressait beaucoup, c'est aux trois quarts de la première
          année que je décide de rechercher une alternance pour intégrer en deuxième
          année la spécialité Développement Web et Dispositifs Interactifs. Après
          de nombreuses recherches, j'intègre l'équipe de chez e-declic, une agence
          web située à Auray dans le Morbihan.<br /><br />
          Depuis la deuxième année jusqu'à aujourd'hui, j'ai découvert de nombreux
          domaines liés au web : Design UI/UX - Référencement (SEO) - Création de
          jeux et d'expériences en réalité virtuelle/augmentée avec Unity et bien
          sûr le développement web avec NodeJS et React.<br /><br />
          Découvrez mes différents projets accessibles dans le menu juste en haut
          !
        </p>
        <button
          class="read-more-btn"
          aria-expanded="false"
          aria-label="Afficher plus d'informations sur la formation MMI"
          >Lire plus</button
        >
      </div>
      <div class="mt-3">
        <Button
          id="mmi"
          target="_blank"
          theme="black-button"
          link="https://iut-lannion.univ-rennes.fr/metiers-du-multimedia-et-de-linternet"
          text="Découvrir le BUT MMI"
          icon={extIcon.src}
        />
      </div>
    </div>
  </div>

  <div class="forma flex flex-col md:flex-row gap-0 md:gap-5">
    <div class="left flex flex-col items-center">
      <Image
        src={stiLogo}
        alt="Logo STI2D Paul Sérusier"
        loading="lazy"
        format="webp"
        quality={90}
        width={80}
        height={80}
      />
      <div class="line mt-4"></div>
    </div>
    <div class="right">
      <p class="name">
        <strong>BACCALAURÉAT TECHNOLOGIQUE</strong><br />Sciences et
        technologies de l’industrie et du développement durable (STI2D)
      </p>
      <p class="year">Carhaix-Plouguer - 2019 à 2022</p>
      <div class="text-container">
        <p class="text mt-4 truncated">
          Grâce au bac STI2D et à la spécialité SIN (Système d'Information et
          Numérique), j'ai pu découvrir plein de domaines tous intéressants
          (réseaux, modélisation 3D, étude de l'énergie, développement durable).<br
          /><br />
          C'est aussi à cette période que je crée mon tout premier site web.<br
          /><br />
          En dernière année et pour le grand oral, on a eu pour objectif de créer
          une serre autonome. En équipe et à l'aide de différents capteurs/contrôleurs,
          notre serre était capable de s'ouvrir automatiquement, de pulvériser de
          l'eau selon l'humidité de la terre, de nous transmettre différentes données
          sur notre téléphone. En bref, un projet passionnant et surtout enrichissant.<br
          /><br />
          Pendant ce bac STI2D, je découvre le Design UI/UX. Ne sachant pas trop
          où aller dans mes études supérieures, je découvre le BUT MMI, une formation
          polyvalente avec des domaines variés qui me permettrait de découvrir ce
          que je souhaite exercer plus tard. Mais deux domaines m'attirent particulièrement
          : le Design UI/UX ainsi que le Développement Web.
        </p>
        <button
          class="read-more-btn"
          aria-expanded="false"
          aria-label="Afficher plus d'informations sur le bac STI2D"
          >Lire plus</button
        >
      </div>
      <div class="mt-3">
        <Button
          id="sti"
          target="_blank"
          theme="black-button"
          link="https://lycee-serusier-carhaix.ac-rennes.fr/spip.php?article215"
          text="Découvrir le BAC STI2D"
          icon={extIcon.src}
        />
      </div>
    </div>
  </div>
</div>
