---
import Button from "@/components/Button.astro";

// Images
import { Image } from "astro:assets";
import ProfilePicture from "@/assets/images/profile-picture.png";
import Map from "@/assets/images/map.png";
import Marquee from "@/components/Marquee";
import AnimatedGradientText from "@/components/AnimatedGradientText";
---

<div class="head flex items-center">
  <Image src={ProfilePicture} alt="Photo de moi" />
  <div class="ml-4">
    <AnimatedGradientText />
    <p>Théo Le Gourrierec</p>
    <p><em>20 ans</em></p>
  </div>
</div>

<h1 class="mt-8">
  <!-- <Image class="map" src={Map} alt="Ma localisation" /> -->
  Enchanté, je suis Théo, Designer & Développeur basé en Bretagne 
</h1>

<p class="mt-2">
  Passionné par le Design UI/UX et le développement web, je crée des sites attrayants et performants.
</p>

<div class="flex gap-5 mt-6">
  <Button theme="black-button" link="/contact" text="Contactez-moi" />
  <Button theme="white-button" link="/portfolio" text="Découvrir mon portfolio"/>
</div>

<Marquee />