---
// Basics
import MainLayout from "../layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
---

<MainLayout title="404 - Page introuvable" description="La page que vous cherchez n'existe pas.">
    <div class="page-404 flex flex-col items-center justify-center gap-5">
        <h1>404</h1>
        <p>La page que vous cherchez n'existe pas.</p>
        <Button theme="black-button" link="/" text="Revenir à l'accueil" />
    </div>
</MainLayout>