---
import { Image } from "astro:assets";

import Navigation from "@/components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from '@/components/Button.astro';
---

<MainLayout>
  <Navigation />
  <section class="content">
    <h1>Me contacter</h1>
    <p>C’est simple, il suffit de remplir le formulaire juste en dessous</p>
  </section>
</MainLayout>
