---
// Basics
import MainLayout from "../layouts/MainLayout.astro";

// Components
import Button from "@/components/Button.astro";

// Assets
import { Image } from "astro:assets";
---

<MainLayout
  title="Contact - Théo Le Gourrierec"
  description="Contactez Théo Le Gourrierec, Designer & Développeur Web"
>
  <section class="container">
    <section class="content hero-section">
      <div class="head">
        <h1>Me contacter</h1>
        <p>C’est simple, il suffit de remplir le formulaire juste en dessous</p>
      </div>
      <form action="">
        <iframe
          data-tally-src="https://tally.so/embed/mKWJQA?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
          loading="lazy"
          width="100%"
          title="Me contacter"></iframe>
        <script>
          var d = document,
            w = "https://tally.so/widgets/embed.js",
            v = function () {
              "undefined" != typeof Tally
                ? Tally.loadEmbeds()
                : d
                    .querySelectorAll("iframe[data-tally-src]:not([src])")
                    .forEach(function (e) {
                      e.src = e.dataset.tallySrc;
                    });
            };
          if ("undefined" != typeof Tally) v();
          else if (d.querySelector('script[src="' + w + '"]') == null) {
            var s = d.createElement("script");
            (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
          }
        </script>
      </form>
    </section>
  </section>
</MainLayout>
