---
// Basics
import Navigation from "@/components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";

// Sections
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import FormationSection from "@/components/sections/FormationSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";

// Components
import { TextReveal } from "@/components/ui/text-reveal";
import { Image } from "astro:assets";

// Assets
import contactIcon from "@/assets/icons/contact.svg";
---

<MainLayout title="Portfolio - Théo Le Gourrierec" description="Portfolio de Théo Le Gourrierec, Designer & Développeur Web">
  <Navigation />
  <button class="popup-contact" data-tally-open="mKWJQA" data-tally-width="350" data-tally-emoji-text="👀" data-tally-emoji-animation="none">
    <Image src={contactIcon} alt="Icône de contact" />
  </button>

  <section class="container">

    <!-- Hero Section -->
    <section class="hero-section">
      <HeroSection />
    </section>

    <!-- About Section -->
    <section class="content aboutmme-section">
      <AboutSection />
    </section>

    <!-- Formation Section -->
    <section class="content">
      <FormationSection />
    </section>

     <!-- Formation Section -->
     <section class="content projects">
      <ProjectsSection />
    </section>

    <!-- Scroll Reveal - Outils -->
    <div class="outil-reveal z-10 flex min-h-64 items-center justify-center">
      <TextReveal client:visible text="Parce que le web regorge d'outils fantastiques, voici ceux que j'utilise" />
    </div>

    <!-- Scroll Reveal - Mon Objectif -->
    <div class="goal-reveal z-10 flex min-h-64 items-center justify-center">
      <TextReveal client:visible text="Mon objectif est de créer des sites web modernes, rapides et optimisés pour le référencement." />
    </div>

  </section>
</MainLayout>