---
import Navigation from "@/components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";

// Import different sections
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";

---

<MainLayout>
  <Navigation />
  <section class="container">
    
    <section class="hero-section">
    <HeroSection />
    </section>

    <section class="content aboutmme-section">
      <AboutSection />
    </section>

    <section class="content projects">
      <AboutSection />
    </section>

  </section>
</MainLayout>
