---
// Basics
import MainLayout from "../layouts/MainLayout.astro";

// Sections
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import FormationSection from "@/components/sections/FormationSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
import ExeprienceSection from "@/components/sections/ExperienceSection.astro";
import CompetenceSection from "@/components/sections/CompetenceSection.astro";
import ToolsSection from "@/components/sections/ToolsSection.astro";

// Components
import { TextReveal } from "@/components/ui/text-reveal";
---

<MainLayout title="Théo Le Gourrierec - Portfolio" description="Portfolio de Théo Le Gourrierec, Designer & Développeur Web, étudiant en troisème année de BUT MMI à l'IUT de Lannion.">
  <section class="container">

    <section>
      <HeroSection />
    </section>

    <section class="content aboutmme-section" id="about">
      <AboutSection />
    </section>

    <section class="content" id="formations">
      <FormationSection />
    </section>

    <section class="content" id="experiences">
      <ExeprienceSection />
    </section>

    <section class="content projects" id="projets">
      <ProjectsSection />
    </section>

    <div class="outil-reveal z-10 flex min-h-64 items-center justify-center">
      <TextReveal client:visible text="Parce que le web regorge d'outils fantastiques, voici ceux que j'utilise" />
    </div>

    <section class="content" id="outils">
      <ToolsSection />
    </section>

    <section class="content" id="competences">
      <CompetenceSection />
    </section>

    <div class="goal-reveal z-10 flex min-h-64 items-center justify-center">
      <TextReveal client:visible text="Mon objectif est de créer des sites web modernes, rapides et optimisés pour le referencement." />
    </div>

  </section>
</MainLayout>