---
// Basics
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Mentions légales" description="Mentions légales de mon site web">
    <div class="legal flex flex-col items-center justify-center gap-5 h-screen">
        <h1>Mentions légales</h1>
        <p>Les mentions légales de mon site web.</p>
    </div>
</MainLayout>