---
// Basics
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Mentions légales"
  description="Mentions légales de mon site web"
>
  <div class="container legal flex flex-col justify-start">
    <h1>Mentions légales</h1>
    <h2>Éditeur du site</h2>
    <ul>
      <li><strong>Nom et Prénom :</strong> Le Gourrierec Théo</li>
      <li><strong>Adresse :</strong> 9 Kerhuel, 29270 Motreff</li>
    <li><strong>Email :</strong> <a class="link" href="mailto:contact@theolegourrierec.fr">contact@theolegourrierec.fr</a></li>
      <li><strong>Statut :</strong> Particulier</li>
    </ul>

    <h2>Hébergeur</h2>
    <ul>
      <li><strong>Nom :</strong> Vercel Inc.</li>
      <li>
        <strong>Adresse :</strong> 440 N Barranca Ave #4133 Covina, CA 91723
      </li>
    <li>
      <strong>Email :</strong>
      <a class="link" href="mailto:aprivacy@vercel.com">aprivacy@vercel.com</a>
    </li>
      <li>
        <strong>Site web :</strong>
        <a class="link" href="https://vercel.com" target="_blank">https://vercel.com</a>
      </li>
    </ul>

    <h2>Propriété intellectuelle</h2>
    <p>
      L'ensemble de ce site relève de la législation française et internationale
      sur le droit d'auteur et la propriété intellectuelle. Tous les droits de
      reproduction sont réservés, y compris pour les documents téléchargeables
      et les représentations iconographiques et photographiques.
    </p>

    <h2>Conditions d'utilisation</h2>
    <p>
      L'utilisation de ce site implique l'acceptation pleine et entière des
      conditions générales d'utilisation décrites ci-dessus. Ces conditions
      d'utilisation sont susceptibles d'être modifiées ou complétées à tout
      moment.
    </p>

    <h2>Contact</h2>
    <p>
      Pour toute question relative au site et à son contenu, vous pouvez me
      contacter via le formulaire disponible sur le site.
    </p>
  </div>
</MainLayout>
