---
// Basics
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Plan du site" description="Plan du site web">
    <div class="sitemap flex flex-col items-center justify-center gap-5 h-screen">
        <h1>Plan du site</h1>
        <p>Le plan du site web.</p>
    </div>
</MainLayout>