---
// Basics
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Plan du site" description="Plan du site web">
  <div class="container legal flex flex-col justify-start">
    <h1>Plan du site</h1>
    <h2>Pages</h2>
    <ul>
      <li><a class="link" href="/">Accueil</a></li>
      <li><a class="link" href="/projects">Projets</a></li>
      <li><a class="link" href="/contact">Contact</a></li>
      <li><a class="link" href="/mentions-legales">Mentions légales</a></li>
      <li><a class="link" href="/plan-du-site">Plan du site</a></li>
      <li><a class="link" href="/politique-de-confidentialite">Politique de confidentialité</a></li>
    </ul>
    <h2>Projets</h2>
    <ul>
      <li><a class="link" href="/projects/bleep">Bleep</a></li>
      <li><a class="link" href="/projects/ct-seo">CT SEO</a></li>
      <li><a class="link" href="/projects/kership">Kership</a></li>
      <li><a class="link" href="/projects/kult">Kult</a></li>
      <li><a class="link" href="/projects/mer-projets">Mer Projets</a></li>
      <li><a class="link" href="/projects/onfido">Onfido</a></li>
      <li><a class="link" href="/projects/pinfig">Pinfig</a></li>
      <li><a class="link" href="/projects/portfolio">Portfolio</a></li>
      <li><a class="link" href="/projects/revixio">Revixio</a></li>
      <li><a class="link" href="/projects/solame">Solame</a></li>
      <li><a class="link" href="/projects/webdocmmi">Webdocmmi</a></li>
    </ul>
  </div>
</MainLayout>