---
// Basics
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Politique de confidentialité" description="Politique de confidentialité de mon site web">
    <div class="legal flex flex-col items-center justify-center gap-5 h-screen">
        <h1>Politique de confidentialité</h1>
        <p>La politique de confidentialité de mon site web.</p>
    </div>
</MainLayout>