---
const { theme, link, text, icon } = Astro.props;
---

<button>
  <a class={`flex gap-2 ${theme}`} href={link}>
    {icon && <img class="icon" src={icon} alt="icon" class="icon" />}
    {text}
  </a>
</button>
