---
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";
import LinkedinIcon from "@/assets/icons/linkedin.svg";
import GithubIcon from "@/assets/icons/github.svg";
---

<footer class="flex flex-col justify-between mt-20 gap-10">

    <div class="flex flex-col gap-5 items-start top">
        <h3>Alors ça vous a plu ?</h3>
        <p>Vous avez une question, un projet ou autre ?<br>Et vous souhaitez me contacter ?</p>
        <Button theme="white-button" link="/contact" text="Ça se passe juste ici" />
    </div>

    <div class="bottom">
        <div class="flex flex-col md:flex-row justify-between pt-10 gap-5 md:gap-0">
            <div class="flex flex-col md:flex-row gap-5">
            <a class="link" href="/mentions-legales">Mentions Légales</a>
            <a class="link" href="/politique-de-confidentialite">Politique de confidentialité</a>
            <a class="link" href="/plan-du-site">Plan du site</a>
            </div>
            <div class="flex flex-col md:flex-row gap-5">
                <a href="https://www.linkedin.com/in/theolegourrierec/" target="_blank">
                    <Image src={LinkedinIcon} alt="Icône LinkedIn" />
                  </a>
                  <a href="https://github.com/theolg29" target="_blank">
                    <Image src={GithubIcon} alt="Icône GitHub" />
                  </a>
            </div>
        </div>
        <div class="mt-10">
            <p class="text-center">Design & Dev With ❤️ by Théo - 2025</p>
        </div>
    </div>

    
</footer>