---
import Button from "@/components/Button.astro";

---

<footer class="flex flex-col justify-between mt-20">

    <div class="top">
        <h3>Alors ça vous a plu ?</h3>
        <p class="mb-5">Vous avez une question, un projet ou autre ?<br>Et vous souhaitez me contacter ?</p>
        <Button theme="white-button" link="/contact" text="Ça se passe juste ici" />
    </div>

    <div class="bottom">
        <div class="flex justify-between pt-10">
            <div class="flex gap-5">
                <a href="/mentions-legales">Mentions Légales</a>
                <a href="/politique-de-confidentialite">Politique de confidentialité</a>
                <a href="/plan-du-site">Plan du site</a>
            </div>
            <div class="flex gap-5">
                <a href="https://github.com/theolg29" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/theolegourrierec/" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="mt-10">
            <p class="text-center">Design & Dev With ❤️ by Théo - 2025</p>
        </div>
    </div>

    
</footer>