---
import { Image } from "astro:assets";
import burgerIcon from "../assets/icons/burger.svg";
import crossIcon from "../assets/icons/cross.svg";
---

<header>
  <div class="main-nav">
    <button class="menu-icon" id="menu-icon">
      <Image 
        src={burgerIcon} 
        alt="Menu" 
        id="menu-icon-img"
        data-burger={burgerIcon.src}
        data-cross={crossIcon.src}
      />
    </button>
    <nav class="nav-links flex" id="nav-links">
      <a href="/#about">Qui suis-je ?</a>
      <a href="/#formations">Formations</a>
      <a href="/#experiences">Expériences</a>
      <a href="/#competences">Compétences</a>
      <a href="/projects">Projets</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const menuIcon = document.getElementById('menu-icon');
    const menuIconImg = document.getElementById('menu-icon-img');
    const navLinks = document.getElementById('nav-links');

    menuIcon.addEventListener('click', function() {
      navLinks.classList.toggle('active');
      if (navLinks.classList.contains('active')) {
        menuIconImg.src = menuIconImg.dataset.cross;
      } else {
        menuIconImg.src = menuIconImg.dataset.burger;
      }
    });
  });
</script>