---

---
<div>
    <nav class="flex justify-center">
        <a href="">Qui suis-je ?</a>
        <a href="">Formations</a>
        <a href="">Expériences</a>
        <a href="">Compétences</a>
        <a href="/projects">Projets</a>
        <a href="/contact">Contact</a>
    </nav>
</div>